<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <link rel="stylesheet" href="/public/css/home.css"/>
  <a class="navbar-brand" href="/">홈</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/board">게시판</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/team">개발자</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mypage">마이페이지</a>
      </li>
    </ul>
  </div>
</nav>
