/* footer 스타일 */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative; /* 고정되지 않도록 설정 */
}

footer p {
    margin: 0;
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #89CFF0;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
}

/* 테이블 스타일 */
.table {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 테이블 헤더 스타일 */
.thead-light th {
    background-color: #f8f9fa;
    color: #495057;
}

/* 게시판 제목 스타일 */
h1 {
    font-size: 2rem;
    font-weight: bold;
}
